+# Created by https://www.gitignore.io

  ### OSX ###
  .DS_Store
  .AppleDouble
  .LSOverride

 ### SublimeText ###
 # cache files for sublime text
 *.tmlanguage.cache
 *.tmPreferences.cache
 *.stTheme.cache
# Icon must end with two \r
Icon


 # workspace files are user-specific
 *.sublime-workspace
# Thumbnails
._*

 # project files should be checked into the repository, unless a significant
 # proportion of contributors will probably not be using SublimeText
*.sublime-project
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# visual studio editor
.vscode/
*.code-workspace

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# sftp configuration file
sftp-config.json

# Basics
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
  *.py[cod]
__pycache__

# Logs
logs
*.log
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
  pip-log.txt
npm-debug.log*
pip-delete-this-directory.txt

  # Unit test / coverage reports
htmlcov/
.tox/
  .coverage
.tox
.cache
  nosetests.xml
htmlcov
coverage.xml

  # Translations
  *.mo
  *.pot

# Pycharm
.idea

# Provided default Pycharm Run/Debug Configurations should be tracked by git
# In case of local modifications made by Pycharm, use update-index command
# for each changed file, like this:
# git update-index --assume-unchanged .idea/website.iml
!.idea/runConfigurations/
!.idea/website.iml
!.idea/vcs.xml
!.idea/webResources.xml
# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# virtual environments
  .env
ENV/

# User-uploaded media
website/media/


# MailHog binary
mailhog

db.sqlite3

### Staticfiles ###
  staticfiles/

.cache/

### Project Specific Stuff/.gitignore bugs ###

